<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Talent Management Information System</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.21/vue.cjs.js" integrity="sha512xxe2aXOh4/FgkCAUyurkjk0Uw4m1gPcExFwb1Ai4Ajjg97se/FEWfrLG1na4mq8cgOzouc8qLIqsh0EGksPGdqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script-->
<link href="css/search-poc.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="images/TRS.png">
</head>
<style>
</style>
<body>
<div id="masthead">
<p>Talent Management Information Systems...</p>
<p><small>Description summary...</small></p>
</div>

<div id="app">
  <input type="text" v-model="search" placeholder="&#x1F50E; Search" />
  <br>
  <div class="scrollmenu">
    <span v-for="post in filteredList">
      <a v-bind:href="post.link" target="_blank">
        <img v-bind:src="post.img"/>{{ post.author }} {{ post.title }}
      </a> 
    </span>
  </div>
</div>


<div id="appxx">
    <span v-for="postxx in filteredList" class="bottom-links">
        <a v-bind:href="postxx.linkxx" target="_blank">
        <img v-bind:src="postxx.imgxx"/>{{ postxx.authorxx }} {{ postxx.titlexx }}
        </a> 
    </span>
</div>

<div id="dynamicx" class="container">dynamic content.</div>

<script src="js/search-poc.js"></script>
</body>
</html>